h1{
font-size: 80px;
text-align: center;
font-weight: bold;
padding-bottom:15px;

}
p{
text-align: center;
font-size: 1.3em;
font-weight: bold;
  padding-bottom:15px;
}
p a{
color:aqua;
    text-decoration: none;
    font-size: 1.3em;
    font-weight: bold;

}
p a:hover{
    color: white;
    text-decoration: none;
    background-color: transparent !important;
    border-bottom: 2px solid #ffffff;
    transition: all 0.5s ease-in;
    padding: 15px 0;
    outline: none;

}
.success{
margin-top: 60px;
padding-top: 70px;
}