{{#partial "content"}}
    <p>Content:</p>
    <p>{{ hero.name }}</p>
    <h5>Created At:</h5>
    <p> {{ hero.createdAt }}</p>
    <a href="/heros/{{hero.id}}/update">Edit this post</a>
    <button><a href="/squad">Click To add to squad</a></button>
    <a href="/heros/{{hero.id}}/delete">DELETE this post (no undo)</a>

{{/partial}}

{{> layout.hbs}}