{{#partial "styles"}}
    <link rel='stylesheet' href='/css/index.css'>
{{/partial}}

{{#partial "content"}}

    <div class="page-header">

        <h1>Welcome to our Hero Squad website. <br> <small>There's no Hero without a Villain!</small></h1>
    </div>

    <div class="button-all">
        <a href="/hero" class="btn btn-half">Hero</a>
        <a href="/squad" class="btn btn-half"> Squad</a>

    </div>

{{/partial}}
{{>layout.hbs}}







