{{#block "header"}}
        <!DOCTYPE html>
        <html>
        <head>
            <title>
                {{#block "title" }}Blog{{/block}}

            </title>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
            <link rel='stylesheet' href='/app.css'>
        </head>
        <body>
    {{/block}}
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="/hero">Add Heroes</a></li>
        <li role="presentation"><a href="/heros/list">Heroes List</a></li>
        <li role="presentation"><a href="/squad/new">Squad</a></li>
    </ul>
    <div class="container">
        <!--begin main template-->

        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}

        </div>
    </div>
    {{#block "footer"}}
        </div>
        <footer class="footer">
            <div class="container">
                <p class="text-muted"><a href="/posts/delete">DELETE ALL POSTS</a></p>
            </div>
        </footer>
        </body>
        </html>
    {{/block}}
