
{{#block "header"}}
        <!DOCTYPE html>
        <html>
        <head>
            <title>
                {{#block "title" }}Blog{{/block}}

            </title>
            <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
            <link href="https://fonts.googleapis.com/css?family=Sansita&display=swap" rel="stylesheet">
            <link rel='stylesheet' href='/css/app.css'>
            {{#block "styles"}}{{/block}}

        </head>
        <body>
    {{/block}}
<ul class="nav" id="nav">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/hero">Add Heroes</a></li>
        <li role="presentation"><a href="/heros/list">Heroes List</a></li>
        <li role="presentation"><a href="/squad">Squad</a></li>
    </ul>
    <div class="container">
        <!--begin main template-->

        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}

        </div>
    </div>
    {{#block "footer"}}
        </div>
        <footer class="footer">
            <div class="container">

            </div>
        </footer>
        </body>
        </html>
    {{/block}}











