{{#partial "styles"}}
    <link rel='stylesheet' href='/css/success.css'>
{{/partial}}

{{#partial "content"}}
    <div class="success">
        <h1>Success!</h1>
        <p>Your Squad post has been saved.</p>
        <p><a href="/squad/list"> View your Squad</a></p>
    </div>

{{/partial}}
{{>layout.hbs}}